{% for share in nas_shares %}
{{ share }}  -fstype=cifs,credentials={{ nas_credentials_file }},uid={{ mounts_user_uid.stdout }},gid={{ mounts_user_uid.stdout }},iocharset=utf8  ://{{ nas_host }}/{{ share }}
{% endfor %}
