[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    lock 'qs -c noctalia-shell ipc call lockScreen lock' \
    before-sleep 'qs -c noctalia-shell ipc call lockScreen lock'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target